

<Div class="bg-black text-white font-sans">
    <!-- Header -->
    <header class=" fixed top-0 z-50 flex items-center w-full bg-gradient-to-r from-black to-gray-800 p-4">
        <div class=" w-4/5 flex items-center gap-9">
            <img src="https://img.icons8.com/?size=100&id=11116&format=png&color=ffffff" alt="Logo" class=" h-10">
            <button class="text-white hover:text-gray-300 mx-2">
                <img src="https://img.icons8.com/?size=100&id=1iF9PyJ2Thzo&format=png&color=ffffff" alt="Logo" class="h-10">
            </button>
            <div class="relative flex items-center w-2/4 ">
                <span class="absolute left-0 text-gray-400 ml-1 ">
                    <img src="https://img.icons8.com/?size=100&id=7695&format=png&color=ffffff" alt="Search" class="  h-10 rounded-l-full  hover:bg-gray-500">
                </span>
                <input 
                    type="text" 
                    placeholder="Bạn muốn phát nội dung gì?" 
                    class=" font-bold h-12  bg-gray-900 text-gray-300 rounded-full pl-12 pr-10 py-2 focus:outline-none w-full">
                <span class="absolute right-2 text-gray-400 ml-2">
                    <img src=" https://img.icons8.com/?size=100&id=82870&format=png&color=ffffff" alt="Search" class=" border-l  px-2 h-10 rounded-r-full  hover:bg-gray-500">
                </span>
            </div>
        </div>
        <div class=" w-1/5 flex items-center gap-4">
           <img src="https://img.icons8.com/?size=100&id=68376&format=png&color=ffffff" alt="Logo" class="w-8 h-10 rounded-full hover:bg-gray-700">
        
            <div class="w-10 h-10 bg-blue-500 text-white flex items-center justify-center rounded-full">
                T
            </div>
        </div>
    </header>

</Div>