<header class="admin-header bg-gradient-to-r from-black to-gray-800">
    <!-- Logo -->
    <div class="logo-container">
      <a routerLink="/home">
        <img src="../../assets//Img/admin-logo1.png" alt="Spotify Logo" class="logo">
      </a>
    </div>
  
    <!-- Tìm kiếm -->
    <!-- <div class="relative flex items-center w-2/4 ">
        <span class="absolute left-0 text-gray-400 ml-1 ">
            <img src="https://img.icons8.com/?size=100&id=7695&format=png&color=ffffff" alt="Search" class="  h-7 rounded-l-full  hover:bg-gray-500 ml-4">
        </span>
      <input type="text" placeholder="Tìm kiếm..." class=" font-bold h-12  bg-gray-900 text-gray-300 rounded-full pl-16 pr-10 py-2 focus:outline-none w-full">
    </div> -->
  
    <!-- Các chức năng khác -->
    <div class="header-actions">
      <div class="profile">
        <img src="https://img.icons8.com/?size=100&id=23441&format=png&color=000000" alt="User Avatar" class="avatar">
        <span class="user-name">Admin</span>
      </div>
    </div>
</header>
  