<nav class="navbar bg-gradient-to-r from-black to-gray-900">
    <div class="navbar-container ">
      <!-- Menu items -->
      <ul class="navbar-menu">
        <li class="navbar-item">
          <a (click)="onComponentSelect('dashboard')" class="navbar-link">
            <i class="fa fa-tachometer"></i> Dashboard
          </a>
        </li>
        <li class="navbar-item">
          <a (click)="onComponentSelect('users')"  class="navbar-link">
            <i class="fa fa-users"></i> Users
          </a>
        </li>

        <li class="navbar-item">
          <a (click)="onComponentSelect('artists')"  class="navbar-link">
            <i class="fa fa-users"></i> Artists
          </a>
        </li>

        <li class="navbar-item">
          <a (click)="onComponentSelect('albums')" class="navbar-link">
            <i class="fa fa-list"></i> Albums
          </a>
        </li>
        <li class="navbar-item">
          <a (click)="onComponentSelect('songs')" class="navbar-link">
            <i class="fa fa-music"></i> Songs
          </a>
        </li>
      </ul>
    </div>
</nav>
  