<body class="bg-black text-white font-sans pt-[70px]">
    <div class="flex lg:flex-row h-auto">
      
        <app-sidebar 
        [sidebarVisible]="sidebarVisible" 
        [myplaylist]="myplaylist"
        (toggleSidebarEvent)="toggleSidebar()"
        (nextTrackEvent)="nextTrack($event)">
      </app-sidebar>
  
      <div *ngIf="sidebarVisible" class="w-1/4 h-full" id="asideBehind"></div>
      <div *ngIf="!sidebarVisible" class="w-24 h-full" id="sidebarMiniBehind"></div>

        <main class="flex-1 bg-gradient-to-b from-green-900 to-black rounded-xl m-1">
            <div class="max-full">
                <div class="flex w-full items-center space-x-4 p-6 bg-gradient-to-r from-green-800 to-black rounded-t-2xl">
                    <img [src]="image" alt="Playlist Cover" class="w-24 h-24 rounded-lg">
                    <div>
                        <h1 class="text-gray-400 m-2">{{ getTranslation('album.album') }}</h1>
                        <h1 class="text-5xl font-bold">{{name}}</h1>
                        <p class="text-gray-400 m-2">{{NameArtiest}}, {{date}}</p>
                    </div>
                </div>
                <div class="flex items-center justify-between p-4">
                    <div class="flex items-center space-x-4">
                        <img src="https://img.icons8.com/?size=100&id=59862&format=png&color=ffffff" 
                        (click)="nextTrack(album[0])"
                            alt="Play" 
                            class="h-12 w-12 p-3 ml-2 bg-green-500 rounded-full hover:scale-110 cursor-pointer">
                    </div>
                </div>
                <div class="p-6">
                    <h3 class="text-xl font-bold mb-4">{{ getTranslation('album.songlist') }}</h3>
                    <table class="w-full text-left">
                        <thead>
                            <tr class="border-b">
                                <th class="py-2">#</th>
                                <th class="py-2">{{ getTranslation('album.title') }}</th>
                                <th class="py-2">{{ getTranslation('album.album') }}</th>
                                <th class="py-2">{{ getTranslation('album.duration') }}</th>
                            </tr>
                        </thead>
                   
                        <tbody *ngFor="let item of album; let i = index">
                            <tr (click)="nextTrack(item)" class="hover:bg-black">
                                <td class="py-2 rounded-l-xl p-2">{{ i + 1 }}</td>
                                <td class="flex items-center p-2">
                                    <img [src]="item.image_location" class="h-12 w-12 rounded mr-2 my-2"> 
                                    {{ item.title || getTranslation('general.unknownTitle') }}
                                </td>
                                <td class="p-2">{{ name }}</td>
                                <td class="p-2">{{ item.duration || '2:12' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="p-6">
                    <h2 class="text-xl font-bold">{{ getTranslation('album.recommendations') }}</h2>
                    <p class="text-gray-400 text-sm">{{ getTranslation('album.basedon') }}</p>
                 
                        <div class="mt-4 space-y-4" *ngFor="let item of randomSongs">
                            <div
                              class="flex items-center justify-between border-b border-gray-800 pb-2"
                            >
                              <div class="flex items-center space-x-4">
                                <div class="w-12 h-12 relative">
                                  <img
                                    [src]="item.image_location"
                                    alt="Song Cover"
                                    class="w-full h-full rounded-lg object-cover"
                                  />
                                </div>
                                <div>
                                  <p class="text-white">{{ item.title }}</p>
                                  <p class="text-gray-400 text-sm">{{ item.artists?.[0]?.name || getTranslation('general.unknownArtist') }}</p>
                                </div>
                              </div>
                              <button
                                (click)="addNewPlaylist(item.id)"
                                class="border border-white rounded-full px-4 py-1 text-white hover:bg-green-500 hover:text-black transition-colors duration-200"  
                              >
                                {{ getTranslation('myplaylist.add') }}
                              </button>
                            </div>
                          </div>
                   
                </div>
            </div>
            <div class="h-[70px]"></div>
        </main>
    </div>
</body>
<app-footer></app-footer>