<!-- <app-header></app-header> -->

<body class="bg-black text-white font-sans pt-[70px]">
    <div class="flex lg:flex-row h-auto">
      
        <app-sidebar 
        [sidebarVisible]="sidebarVisible" 
        [myplaylist]="myplaylist"
        (toggleSidebarEvent)="toggleSidebar()"
        (nextTrackEvent)="nextTrack($event)">
      </app-sidebar>
  
      <div *ngIf="sidebarVisible" class="w-1/4 h-full" id="asideBehind"></div>
      <div *ngIf="!sidebarVisible" class="w-24 h-full" id="sidebarMiniBehind"></div>

        <main class="flex-1  bg-gradient-to-b from-green-900 to-black rounded-xl m-1">
            <div class="max-full ">
                <div class="flex w-full items-center space-x-4 p-6  bg-gradient-to-r from-green-800 to-black rounded-t-2xl">
                    <img [src]="image" alt="Playlist Cover" class="w-24 h-24 rounded-lg">
                    <div>
                        <h1 class="text-gray-400 m-2">Album</h1>
                        <h1 class="text-5xl font-bold">{{name}}</h1>
                        <p class="text-gray-400 m-2">{{NameArtiest}}, {{date}}</p>
                    </div>
                </div>
                <div class=" flex items-center justify-between  p-4">
                    <div class="flex items-center space-x-4">
                        <img src="https://img.icons8.com/?size=100&id=59862&format=png&color=ffffff" 
                        (click)="nextTrack(album[0])"
                            alt="Play" 
                            class="h-12 w-12 p-3 ml-2 bg-green-500 rounded-full hover:scale-110 cursor-pointer">
                            
                    </div>
                    <div class="text-white flex items-center space-x-2">
                        <span>Danh sách</span>
                        <span class="text-xl">☰</span>
                    </div>
                </div>
                <div class=" p-6">
                    <table class="w-full text-left">
                        <thead>
                            <tr class="border-b ">
                                <th class="py-2">#</th>
                                <th class="py-2">Title</th>
                                <th class="py-2">Album</th>
                                <th class="py-2">Duration</th>
                            </tr>
                        </thead>
                   
                        <tbody *ngFor="let item of album" >
                            <tr (click)="nextTrack(item)"  class="hover:bg-black">
                                <td class="py-2 rounded-l-xl p-2">1</td>
                                <td class="flex items-center  p-2"><img [src]="item.image_location " class="h-12 w-12 rounded mr-2 my-2"> {{item.title}}</td>
                                <td class="  p-2">{{name}}</td>
                                <td class="  p-2">2:12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class=" p-6">
                    <h2 class="text-xl font-bold">Đề xuất</h2>
                    <p class="text-gray-400 text-sm">Dựa trên nội dung có trong danh sách phát này</p>
                    <div class="mt-4 space-y-4">
                        <div class="flex items-center justify-between border-b border-gray-800 pb-2">
                            <div class="flex items-center space-x-4">
                                <img src="../../assets/Img/image3.png" alt="Song Cover" class="w-12 h-12 rounded-lg">
                                <div>
                                    <p class="text-white">MỘNG YU</p>
                                    <p class="text-gray-400 text-sm">AMEE, RPT MCK</p>
                                </div>
                            </div>
                            <button class="border border-white rounded-full px-4 py-1 text-white">Thêm</button>
                        </div>
                        <div class="flex items-center justify-between border-b border-gray-800 pb-2">
                            <div class="flex items-center space-x-4">
                                <img src="../../assets/Img/image3.png" alt="Song Cover" class="w-12 h-12 rounded-lg">
                                <div>
                                    <p class="text-white">Ngày Đẹp Trời Để Nói Chia Tay</p>
                                    <p class="text-gray-400 text-sm">Lou Hoàng</p>
                                </div>
                            </div>
                            <button class="border border-white rounded-full px-4 py-1 text-white">Thêm</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-[70px]">

            </div>
        </main>
    </div>
</body>
 <app-footer></app-footer> 
