<div class="admin-layout">
  <app-admin-header></app-admin-header>
  
  <div class="admin-navbar">
    <app-admin-navbar (activeComponentChange)="onActiveComponentChange($event)"></app-admin-navbar>
  </div>
  
  <div class="admin-content">
    <!-- Hiển thị phần "Users Management" -->
    <app-admin-user-management *ngIf="activeComponent === 'users'"></app-admin-user-management>

    <!-- Hiển thị phần "Artists Management" -->
    <app-admin-artist-management *ngIf="activeComponent === 'artists'"></app-admin-artist-management>
    
    <!-- Hiển thị phần "Songs Management" -->
    <app-admin-songs-management *ngIf="activeComponent === 'songs'"></app-admin-songs-management>

    <!-- Hiển thị phần "Albums Management" -->
    <app-admin-album-management *ngIf="activeComponent === 'albums'"></app-admin-album-management>
  </div>
</div>
