.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.admin-content {
  display: flex;
  margin-left: 200px;
  padding: 10px;
  margin-top: 80px;
  height: auto;
  background: linear-gradient(to bottom right, #252d39, #000000);
  flex-grow: 1;
  width: calc(100% - 200px); /* Ensure the content takes the full width minus the navbar */
}

/* Ensure children of admin-content take the full width */
.admin-content > * {
  width: 100%;
  min-width: 100%;
}