<div class="p-5 rounded-lg w-full">
  <!-- Tiêu đề và thanh tìm kiếm -->
  <div class="flex flex-col sm:flex-row items-start sm:items-center justify-between mb-8">
    <h2 class="text-3xl font-bold text-white">Manage Albums</h2>

    <!-- Thanh tìm kiếm và Nút "Create" -->
    <div class="flex items-center space-x-4 mt-4 sm:mt-0">
      <!-- Search Bar -->
      <div class="relative w-full max-w-sm">
        <span class="absolute inset-y-0 left-4 flex items-center text-gray-400">
          <svg
            class="w-5 h-5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            />
          </svg>
        </span>
        <input
          type="text"
          [(ngModel)]="searchTerm"
          placeholder="Search albums..."
          class="h-11 pl-12 pr-4 bg-[#2A2A2A] text-gray-200 rounded-xl border border-gray-700 focus:outline-none focus:ring-2 focus:ring-[#1DB954] focus:border-transparent transition-all duration-300 placeholder-gray-500"
        />
      </div>

      <!-- Nút "Create" -->
      <button
        class="bg-[#1DB954] text-black font-bold text-sm rounded-full py-2 px-6 hover:bg-[#1ED760] transition-colors duration-200"
        (click)="openCreateModal()"
      >
        Create
      </button>
    </div>
  </div>

  <!-- Bảng danh sách album -->

  <div
    class="min-h-[calc(100vh-11rem)] flex flex-col mt-4 bg-zinc-900 rounded-lg"
  >
    <table class="w-full table-fixed rounded-lg shadow-lg">
      <thead>
        <tr class="bg-gray-800 text-white">
          <th class="p-3 text-center break-words">Title</th>
          <th class="p-3 text-center break-words">Release Date</th>
          <th class="p-3 text-center break-words rounded-tr-lg">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let album of albums; let i = index"
          class="hover:bg-zinc-700 transition-colors"
        >
          <td class="p-3 text-center text-white break-words">
            {{ album.title }}
          </td>
          <td class="p-3 text-center text-white break-words">
            {{ album.release_date | date : "dd/MM/yyyy" }}
          </td>
          <td class="p-3 text-white break-words flex justify-center space-x-2">
            <button
              (click)="selectAlbum(album)"
              class="text-blue-500 hover:text-blue-700 p-2 transition-colors"
            >
              <i class="fa fa-eye"></i>
            </button>
            <button
              (click)="editAlbum(album)"
              class="bg-green-600 text-white rounded-full hover:bg-green-800 p-2 transition-colors"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              (click)="deleteAlbum(album.id)"
              class="bg-red-600 text-white rounded-full hover:bg-red-800 p-2 transition-colors"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal chi tiết Album -->
  <div
    *ngIf="showModal"
    class="fixed inset-0 flex items-center justify-center z-[1000] p-5"
  >
    <!-- Overlay -->
    <div
      class="absolute inset-0 bg-black opacity-70"
      (click)="closeModal()"
    ></div>

    <!-- Nội dung modal -->
    <div
      class="relative bg-white text-black rounded-lg p-8 w-full max-w-3xl max-h-[85vh] overflow-y-auto shadow-xl"
    >
      <!-- Nút đóng modal -->
      <button
        class="absolute top-4 right-4 text-gray-600 hover:text-gray-800 transition-colors"
        (click)="closeModal()"
      >
        <i class="fa fa-times text-2xl"></i>
      </button>

      <!-- Chi tiết Album -->
      <h2 class="text-2xl font-bold mb-4">{{ selectedAlbum.title }}</h2>
      <p class="mb-6">
        <strong>Release Date:</strong>
        {{ selectedAlbum.release_date | date : "dd/MM/yyyy" }}
      </p>

      <div class="mb-6">
        <h3 class="text-lg font-semibold mb-3">🎤 Artist:</h3>
        <ul>
          <li
            *ngFor="let artist of selectedAlbum.artists"
            class="mb-4 flex items-start space-x-4"
          >
            <img
              [src]="artist.artist_photo || 'assets/default-artist.jpg'"
              alt="{{ artist.name }}"
              class="w-24 h-24 object-cover rounded-lg"
            />
            <div>
              <p><strong>Name:</strong> {{ artist.name }}</p>
              <p><strong>Year of launch:</strong> {{ artist.debut_year }}</p>
              <p><strong>Bio:</strong> {{ artist.bio?.length > 150 ? (artist.bio | slice:0:150) + '...' : artist.bio }}</p>
            </div>
          </li>
        </ul>
      </div>
      

      <div>
        <h3 class="text-lg font-semibold mb-3">🎵 Song list:</h3>
        <table class="w-full mt-2 table-auto">
          <thead>
            <tr class="bg-gray-200 text-black">
              <th class="p-3 rounded-tl-lg">Title</th>
              <th class="p-3">Type</th>
              <th class="p-3">Duration</th>
              <th class="p-3">File</th>
              <th class="p-3 rounded-tr-lg">Image</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let song of selectedAlbum.songs"
              class="bg-white hover:bg-gray-300 transition-colors"
            >
              <td class="p-3">{{ song.title }}</td>
              <td class="p-3">{{ song.genre }}</td>
              <td class="p-3">{{ song.duration }} minute</td>
              <td class="p-3 truncate" [title]="song.file_location">
                {{ getFileName(song.file_location) }}
              </td>
              <td class="p-3 truncate" [title]="song.image_location">
                {{ getFileName(song.image_location) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal tạo mới Album -->
  <div
    *ngIf="isModalOpen"
    class="fixed inset-0 flex items-center justify-center z-[1000] p-5"
  >
    <!-- Overlay -->
    <div
      class="absolute inset-0 bg-black opacity-75"
      (click)="closeCreateModal()"
    ></div>

    <!-- Modal Content -->
    <div
      class="relative bg-[#2A2A2A] text-gray-200 rounded-2xl p-8 w-full max-w-2xl max-h-[85vh] overflow-y-auto shadow-2xl"
    >
      <!-- Close Button -->
      <button
        class="absolute top-4 right-4 text-gray-500 hover:text-gray-800 transition"
        (click)="closeCreateModal()"
      >
      <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
      </button>

      <!-- Album Form -->
      <h2 class="text-3xl font-semibold text-white mb-6">
        {{ isEditing ? "Edit Album" : "Create New Album" }}
      </h2>

      <form
        #albumForm="ngForm"
        (ngSubmit)="isEditing ? updateAlbum() : createAlbum()"
        class="space-y-6"
      >
        <!-- Title -->
        <div>
          <label for="title" class="block text-sm text-gray-200 font-medium mb-2"
            >Title</label
          >
          <input
            id="title"
            type="text"
            [(ngModel)]="newAlbum.title"
            name="title"
            #titleInput="ngModel"
            class="w-full p-3 bg-[#3A3A3A] text-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Enter album title"
            required
          />
          <div *ngIf="titleInput.invalid" class="text-red-600 text-sm mt-1">
            Title is required.
          </div>
        </div>

        <!-- Release Date -->
        <div>
          <label for="release_date" class="block text-sm font-medium mb-2"
            >Release Date</label
          >
          <input
            id="release_date"
            type="date"
            [(ngModel)]="newAlbum.release_date"
            name="release_date"
            #releaseInput="ngModel"
            class="w-full p-3 bg-[#3A3A3A] text-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
          <div *ngIf="releaseInput.invalid" class="text-red-600 text-sm mt-1">
            Release date is required.
          </div>
        </div>

        <!-- Artist Selection -->
        <div>
          <label for="artist_search" class="block text-gray-200 text-sm font-medium mb-2"
            >Artists</label
          >
          <input
            id="artist_search"
            type="text"
            [(ngModel)]="artistSearchTerm"
            (input)="searchArtists()"
            name="artist_search"
            class="w-full p-3 bg-[#3A3A3A] text-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Search artists..."
          />

          <div
            *ngIf="filteredArtists.length > 0"
            class="mt-2 max-h-40 overflow-y-auto bg-[#3A3A3A] text-gray-200 rounded-xl shadow-md"
          >
            <div
              *ngFor="let artist of filteredArtists"
              class="p-3 hover:bg-[#2d2d2d] cursor-pointer"
              (click)="addArtist(artist.id)"
            >
              {{ artist.name }}
            </div>
          </div>

          <div class="mt-2">
            <div *ngIf="newAlbum.artist_ids.length > 0" class="space-y-2">
              <div
                *ngFor="let artistId of newAlbum.artist_ids"
                class="flex items-center justify-between bg-[#3A3A3A] text-gray-200 p-2 rounded-xl"
              >
                <span>{{ getArtistName(artistId) }}</span>
                <button
                  type="button"
                  class="text-red-600 hover:text-red-800"
                  (click)="removeArtist(artistId)"
                >
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div
              *ngIf="newAlbum.artist_ids.length === 0"
              class="text-red-600 text-sm"
            >
              No artists selected.
            </div>
          </div>
        </div>

        <!-- Song Selection -->
        <div>
          <label for="song_search" class="block text-gray-200 text-sm font-medium mb-2"
            >Songs</label
          >
          <input
            id="song_search"
            type="text"
            [(ngModel)]="songSearchTerm"
            (input)="searchSongs()"
            name="song_search"
            class="w-full p-3 bg-[#3A3A3A] text-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Search songs..."
          />

          <div
            *ngIf="filteredSongs.length > 0"
            class="mt-2 max-h-40 overflow-y-auto bg-[#3A3A3A] text-gray-200 rounded-xl shadow-md"
          >
            <div
              *ngFor="let song of filteredSongs"
              class="p-3 hover:hover:bg-[#2d2d2d] cursor-pointer"
              (click)="addSong(song.id)"
            >
              {{ song.title }}
            </div>
          </div>

          <div class="mt-2">
            <div *ngIf="newAlbum.song_ids.length > 0" class="space-y-2">
              <div
                *ngFor="let songId of newAlbum.song_ids"
                class="flex items-center justify-between bg-[#3A3A3A] text-gray-200 p-2 rounded-xl"
              >
                <span>{{ getSongTitle(songId) }}</span>
                <button
                  type="button"
                  class="text-red-600 hover:text-red-800"
                  (click)="removeSong(songId)"
                >
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div
              *ngIf="newAlbum.song_ids.length === 0"
              class="text-red-600 text-sm"
            >
              No songs selected.
            </div>
          </div>
        </div>

        <!-- Action Buttons -->
        <div class="flex justify-end space-x-4">
          <button
            type="button"
            class="bg-gray-300 text-black rounded-xl py-2 px-6 hover:bg-gray-400 transition"
            (click)="closeCreateModal()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="bg-blue-600 text-white rounded-xl py-2 px-6 hover:bg-blue-800 transition"
            [disabled]="!albumForm.valid || newAlbum.song_ids.length === 0 || newAlbum.artist_ids.length === 0"
          >
            {{ isEditing ? "Update" : "Create" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-toast-message #toast></app-toast-message>
